.bentoGrid {
  @apply grid gap-8 justify-items-center grid-cols-1 xl:grid-cols-4;
  @apply w-full px-4 max-w-[1800px];
}

/* CARDS */
.one {
  grid-area: one;
  @apply bg-(--purple500) rounded-xl;
  @apply flex flex-col gap-6 items-center;
  @apply w-full h-fit px-5 py-8 xl:px-10 xl:py-16;
}
.two {
  grid-area: two;
  @apply bg-(--white) rounded-xl;
  @apply flex flex-col gap-2 xl:gap-4;
  @apply w-full py-4 xl:py-6;
}
.three {
  grid-area: three;
  @apply bg-(--yellow500) rounded-xl;
  @apply flex flex-col justify-between gap-4;
  @apply w-full pt-6 px-6 xl:px-0;
}
.four {
  grid-area: four;
  @apply bg-(--purple100) rounded-xl;
  @apply flex flex-col items-center gap-4 xl:gap-6 xl:items-start;
  @apply w-full px-4 py-8 xl:px-0 xl:py-12;
  @apply relative overflow-hidden;
}
.five {
  grid-area: five;
  @apply bg-(--purple500) rounded-xl;
  @apply flex flex-col xl:flex-row items-center justify-between gap-6;
  @apply w-full p-6;
}
.six {
  grid-area: six;
  @apply bg-(--white) rounded-xl;
  @apply flex flex-col justify-between gap-2 xl:gap-0;
  @apply w-full p-6;
}
.seven {
  grid-area: seven;
  @apply bg-(--yellow100) rounded-xl;
  @apply flex flex-col gap-6;
  @apply w-full h-full px-8 py-8 xl:py-20;
}
.eight {
  grid-area: eight;
  @apply bg-(--yellow500) rounded-xl;
  @apply flex flex-col items-start gap-6 xl:gap-12;
  @apply w-full p-4 xl:p-6;
}

@media (max-width: 1280px) {
  .bentoGrid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six"
      "seven"
      "eight";
  }
}
@media (min-width: 600px) and (max-width: 1280px) {
  .one,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight {
    max-width: 500px;
  }
}
@media (min-width: 1280px) {
  .bentoGrid {
    grid-template-areas: none;
  }
  .one {
    grid-area: unset;
    @apply row-span-1 col-span-1 xl:col-span-2;
  }
  .two {
    grid-area: unset;
    @apply row-span-2;
  }
  .three {
    grid-area: unset;
    @apply row-span-2;
  }
  .four {
    grid-area: unset;
    @apply row-span-3;
  }
  .five {
    grid-area: unset;
    @apply row-span-3 col-span-1 xl:col-span-2;
  }
  .six {
    grid-area: unset;
    @apply row-span-3;
  }
  .seven {
    grid-area: unset;
    @apply row-span-2;
  }
  .eight {
    grid-area: unset;
    @apply row-span-4;
  }
}
